<div class="container-fluid">
<!--     <div class="videoWrapper">
        <iframe width="460" height="249" src="assets/video.mp4" frameborder="0" allowfullscreen></iframe>
    </div> -->
   <!--  <div class="row text-center">
        <h5 class="text-center"> Before you leave, please answer a few remaining questions</h5>
        <button class="btn btn-danger  waves-effect waves-light  text-center big-btn" (click)="goToPostQuestionnaire()">Post Questionnaire</button>
    </div> -->


    <div class=" row jumbotron text-xs-center text-center">
    	<h3 class="display-3 text-center" style="color : purple;"> 
    	Thank You, Please proceed with the session.
    	 </h3> 

    <div class="row" style="font-size: 100px;">
    	<i class="fa fa-check text-center big-check fa-10x" ></i>
    </div>

    
    <h3 class="display-3 text-center" style="color : purple;">  Before you leave, please answer a few remaining questions!</h3>

    <button class="btn btn-danger  waves-effect waves-light  text-center big-btn" (click)="goToPostQuestionnaire()">Post Questionnaire</button>
    <hr>
</div>


</div>