<div class="container-fluid">
    <div class="videoWrapper">
        <iframe width="460" height="249" src="assets/video.mp4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="row text-center">
        <h4 class="text-center">Kindly watch the following video and proceed with the experiment afterwards :)</h4>
        <h5 class="text-center"> After you are done, you can proceed with </h5>
        <button class="btn btn-success btn-lg text-center" (click)="goToPostQuestionnaire()">Post Questionnaire</button>
    </div>
</div>