.box-container-img{
    border-radius: 6px;
    height: 150px;
    margin: 2px;
    padding: 30px 15px
    15px;
    color: #ffffff;
}
.img {
    max-width: 80%;
    margin-left: 10%;
    height: 200px;
    vertical-align: middle;
}

.tablet-id{
    margin-right: 10px;
}
