.navbar-custom {
    background-color: #6f2277;
    color: #fff;
}


.box-container {
    border-radius: 6px;
    background-color: #578db4;
    padding: 30px 15px 15px;
    color: white;
    margin-bottom: 25px;
}

.box-container-disabled {
    border-radius: 6px;
    background-color: #949494;
    padding: 30px 15px 15px;
    color: white;
    margin-bottom: 25px;
}

.box-container-mine {
    border-radius: 6px;
    background-color: #6f2277;
    padding: 30px 15px 15px;
    color: white;
    margin-bottom: 25px;
}

.formLogin {
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
}

.label-small {
    vertical-align: super;
    background-color: #6f2277;
    font-size: small;
    margin-bottom: 35px;
    align-self: center;
}